[Desktop Entry]
Name=PMON
GenericName=PACTOR Monitor
Comment=An Independent Pactor/Winlink Monitor For The Raspberry Pi
Exec=lxterminal --geometry=120x40 -t "PACTOR Monitor" -e /usr/local/bin/pmon.sh 
Icon=/usr/share/icons/Adwaita/32x32/actions/mail-message-new.png
Terminal=false
Type=Application
Categories=HamRadio;
Comment[en_US]=PACTOR Monitor
